<% Users.forEach(function(user){ %>
<li class="_contactList" data-uid="<%= user._doc._id %>">
    <div class="contactPanel">
        <div class="user-avatar">
            <img src="/images/users/<%= user._doc.avatar %>" alt="">
        </div>
        <div class="user-name">
            <p>
                <%= user._doc.userName %>
            </p>
        </div>
        <br>
        <div class="user-address">
            <span>&nbsp <%= user._doc.address %></span>
        </div>
        <div class="user-add-new-contact" data-uid="<%= user._doc._id %>">
            Thêm vào danh sách liên lạc
        </div>
        <div class="user-remove-request-contact action-danger" data-uid="<%= user._doc._id %>">
            Hủy yêu cầu
        </div>
    </div>
</li>

<%});%>