<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option data-target="#all-chat" value="all-chat">Toàn bộ trò chuyện</option>
                <option data-target="#user-chat" value="user-chat">Trò chuyện cá nhân</option>
                <option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal"
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <% allConversationWithMessages.forEach(function(conversation){ %>
                        <% if(conversation.members){%>
                            <a href="#uid_<%=conversation._id%>" class="room-chat"
                                data-target="#to_<%= conversation._id%>">
                                <li class="person group-chat" data-chat="<%= conversation._id %>">
                                    <div class="left-avatar">
                                        <!-- <div class="dot"></div> -->
                                        <img src="/images/users/GroupSmall.png" alt="">
                                    </div>
                                    <span class="name">
                                        <span class="group-chat-name">
                                            <% if(conversation.name.length>15){%>
                                                <%= conversation.name.substr(0,11) %><span>...</span>
                                                    <% }else{%>
                                                        <%= conversation.name %>
                                                            <%} %>
                                        </span></span>
                                    <span class="time">
                                        <%= convertTimeStampToFriend(lastItemOfArray(conversation.messages).createAt) %>
                                    </span>
                                    <span class="preview">
                                        <% if(lastItemOfArray(conversation.messages).messageType==="text" ){%>
                                            <%= lastItemOfArray(conversation.messages).text %>
                                                <% } %>
                                                    <% if(lastItemOfArray(conversation.messages).messageType==="image"
                                                        ){%>
                                                        Hình ảnh
                                                        <% } %>
                                                            <% if(lastItemOfArray(conversation.messages).messageType==="file"
                                                                ){%>
                                                                Tệp đính kèm
                                                                <% } %>
                                    </span>
                                </li>
                            </a>
                            <%} else {%>
                                <a href="#uid_<%= conversation._id %>" class="room-chat"
                                    data-target="#to_<%= conversation._id%>">
                                    <li class="person" data-chat="<%= conversation._id %>">
                                        <div class="left-avatar">
                                            <div class="dot"></div>
                                            <img src="/images/users/<%= conversation.avatar %>" alt="">
                                        </div>
                                        <span class="name">
                                            <%= conversation.userName%>
                                        </span>
                                        <span class="time">
                                            <%= convertTimeStampToFriend(lastItemOfArray(conversation.messages).createAt)
                                                %>
                                        </span>
                                        <span class="preview">
                                            <% if(lastItemOfArray(conversation.messages).messageType==="text" ){%>
                                                <%= lastItemOfArray(conversation.messages).text %>
                                                    <% } %>
                                                        <% if(lastItemOfArray(conversation.messages).messageType==="image"
                                                            ){%>
                                                            Hình ảnh
                                                            <% } %>
                                                                <% if(lastItemOfArray(conversation.messages).messageType==="file"
                                                                    ){%>
                                                                    Tệp đính kèm
                                                                    <% } %>
                                        </span>
                                    </li>
                                </a>
                                <%} %>
                                    <%}); %>



                </ul>
            </div>
            <div class="tab-pane" id="user-chat">
                <ul class="people no-padding-start">
                    <% allConversationWithMessages.forEach(function(conversation){ %>
                        <% if(!conversation.members) { %>


                            <a href="#uid_<%= conversation._id %>" class="room-chat"
                                data-target="#to_<%= conversation._id%>">
                                <li class="person" data-chat="<%= conversation._id %>">
                                    <div class="left-avatar">
                                        <div class="dot"></div>
                                        <img src="/images/users/<%= conversation.avatar %>" alt="">
                                    </div>
                                    <span class="name">
                                        <%= conversation.userName%>
                                    </span>
                                    <span class="time">
                                        <%= convertTimeStampToFriend(lastItemOfArray(conversation.messages).createAt) %>
                                    </span>
                                    <span class="preview">
                                        <% if(lastItemOfArray(conversation.messages).messageType==="text" ){%>
                                            <%= lastItemOfArray(conversation.messages).text %>
                                                <% } %>
                                                    <% if(lastItemOfArray(conversation.messages).messageType==="image"
                                                        ){%>
                                                        Hình ảnh
                                                        <% } %>
                                                            <% if(lastItemOfArray(conversation.messages).messageType==="file"
                                                                ){%>
                                                                Tệp đính kèm
                                                                <% } %>
                                    </span>
                                </li>
                            </a>
                            <%} %>
                                <%}); %>

                </ul>
            </div>
            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <% allConversationWithMessages.forEach(function(conversation){ %>
                        <% if(conversation.members) { %>
                            <a href="#uid_<%= conversation._id %>" class="room-chat"
                                data-target="#to_<%= conversation._id%>">
                                <li class="person group-chat" data-chat="<%= conversation._id %>">
                                    <div class="left-avatar">
                                        <!-- <div class="dot"></div> -->
                                        <img src="/images/users/GroupSmall.png" alt="">
                                    </div>
                                    <span class="name">
                                        <span class="group-chat-name">Group:</span>
                                        <%= conversation.name %>


                                    </span>
                                    <span class="name">
                                        <%= conversation.userName%>
                                    </span>
                                    <span class="time">
                                        <%= convertTimeStampToFriend(lastItemOfArray(conversation.messages).createAt) %>
                                    </span>
                                    <span class="preview">
                                        <% if(lastItemOfArray(conversation.messages).messageType==="text" ){%>
                                            <%= lastItemOfArray(conversation.messages).text %>
                                                <% } %>
                                                    <% if(lastItemOfArray(conversation.messages).messageType==="image"
                                                        ){%>
                                                        Hình ảnh
                                                        <% } %>
                                                            <% if(lastItemOfArray(conversation.messages).messageType==="file"
                                                                ){%>
                                                                Tệp đính kèm
                                                                <% } %>
                                    </span>
                                </li>
                            </a>
                            <%} %>
                                <%}); %>

                </ul>
            </div>
        </div>

    </div>
</div>