<% Users.forEach(function(user){ %>

  <div data-uid="<%= user._doc._id %>">
    <li data-uid="<%= user._doc._id %>">
      <div class="contactPanel">
        <div class="user-avatar">
          <img src="/images/users/<%= user._doc.avatar %>" alt="">
        </div>
        <div class="user-name">
          <p>
            <%= user._doc.userName %>
          </p>
        </div>
        <br>
        <div class="user-address">
          <span>&nbsp; <%= user._doc.address %></span>
        </div>
        <div class="add-user" data-uid="<%= user._doc._id %>">
          Thêm vào nhóm
        </div>
      </div>
    </li>
  </div>

  <%});%>